@import url(http://fonts.googleapis.com/css?family=Nunito);

@font-face {
    font-family: 'LeagueGothicRegular';
    src: url('../fonts/League_Gothic-webfont.eot');
    src: url('../fonts/League_Gothic-webfont.eot?#iefix') format('embedded-opentype'),
        url('../fonts/League_Gothic-webfont.woff') format('woff'),
        url('../fonts/League_Gothic-webfont.ttf') format('truetype'),
        url('../fonts/League_Gothic-webfont.svg#LeagueGothicRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}
/****************************************************/
/*  Global Reset */
/****************************************************/
body, html  { height: 100%}
html, body, div, span, applet, object, iframe,
blockquote, pre, a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
caption{
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
}
body { line-height: 1}
ol, ul { list-style: none}
blockquote, q { quotes: none}
blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none}
:focus { outline: 0}
del { text-decoration: line-through}


/****************************************************/
/* General Styles */
/****************************************************/
body {
    font-family: 'Nunito', sans-serif;
    background: #06317E;
}

#mainWrapper {
    position: relative;
    color: #ffffff;
    width: 80%;
    margin:0 auto;
    font-size: 30px;
}

#mainWrapper > header{
    margin-top:3%;
    display: inline-block;
    width: 100%;
}

#mainWrapper > header > img{
    display: inline;
    position: relative;
    float: left;
    width:100px;
    height:100px;
    margin:0;
    padding:0;
    margin-right:10px;
}

#mainWrapper > header > h1 {
    display: inline;
    position: relative;
    float: left;
    color: rgb(253, 84, 11);
    text-shadow: 0px 0px 7px #000000;
    line-height: 100px;
    vertical-align: middle;
    padding:0;
    margin:0;
}

#mainWrapper > p {
    font-size: 1em;
    text-shadow: 0px 0px 7px #000000;
    margin:5px;
}
#mainWrapper > p > span:first-child{
    /*  display: inline-block;
    transform: rotate(-15deg);
    -moz-transform: rotate(-15deg);
    -ms-transform: rotate(-15deg);
    -o-transform: rotate(-15deg);
    -webkit-transform: rotate(-15deg);    */
    color:red;
    font-size: 1.2em;
    -webkit-box-shadow: none;
    box-shadow: none;
    /*text-shadow: 1px 1px 3px #FF0033;*/
    text-shadow: 1px 1px 3px #000;
    text-transform: uppercase;
}
#mainWrapper > p > span:nth-child(2){
    font-size: 1.3em;
    text-shadow: 1px 1px 3px #FF0033;
}


#our-works > p{
    margin: 0;
    padding:0;
    margin-bottom:40px;
    font-size: 1em;
    text-shadow: 0px 0px 7px #000000;
}

#our-works ul{
    margin-left: 10%;
    margin-top: 15px;
}

#our-works ul > li{
    display: inline;
    list-style: none;
}

#our-works ul > li > a {
    display: inline;
    width:100px;
    color: #ffffff;
    margin-bottom: 10px;
    margin-right: 20px;
    padding: 5px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 5px;
    background-color: rgba(253, 84, 11, 0.7);
    text-align: center;
    text-decoration: none;
    /*box-shadow: 0px 0px 7px #000000;*/
}

#our-works ul > li > a:hover {
    background-color: rgba(253, 84, 11, 1);
}

@media only screen and (max-width: 550px){
    #our-works ul > li{
        display: list-item;
    }
    #our-works ul > li > a{
        display: block;
    }

}
.clear{
    clear:both;
}

/***********************BG Effect********************************************/

.container {
    position: absolute;
    height: 100%;
    width: 100%;
}

.noise {
    background-image: url("../images/noise.png");
    opacity: 0.050;
}

.overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
}

.loader {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #06317E;
    z-index: 9999999999;
}

.loader img {
    position: absolute;
    top: 48%;
    left: 48%;
}
/***********************END BG Effect********************************************/




/********************************************************/
/* Progress bar */
/********************************************************/
#progress-container{
    width: 100%;
    overflow: auto;
}

.progress {
    width: 960px;
    height: 110px;
    /*margin:0 auto;*/
    margin-top: 100px;
    margin-bottom: 50px;
    background: url(../images/progress/progress-container.png) no-repeat;
    position: relative;
}

.txt-launch-day-hat {
    background: url(../images/progress/txt-launch-day-hat.png) no-repeat;
    width: 117px;
    height: 159px;
    position: absolute;
    top: -120px;
    right: -45px;
    z-index: 15;
}

.txt-launch-day {
    background: url(../images/progress/txt-launch-day.png) no-repeat;
    width: 112px;
    height: 110px;
    position: absolute;
    top: -80px;
    right: -40px;
}

.progress-bar {
    height: 43px;
    background: #72dbf1 url(../images/progress/progress-bar.png) repeat-x;
    position: absolute;
    top:14px;
    left: 0px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
}

.progress-bar-container {
    width: 930px;
    height: 70px;
    margin-left: 13px;
    position: relative;
}


/*********** tipsy *******************/
.tipsy {
    margin-bottom: 25px;
    font-size: 18px;
    opacity: 0.8;
    filter: alpha(opacity=80);
    background-repeat: no-repeat;
    background-image: url(../images/progress/tipsy.png);
    font-family: 'LeagueGothicRegular';
    text-transform: uppercase;
}

.tipsy-inner {
    padding: 10px 20px;
    background-color: black;
    color: white;
    max-width: 400px;
    text-align: right;
    -webkit-box-shadow: 0 20px 15px rgba(0,0,0,0.5);
    -moz-box-shadow: 0 20px 15px rgba(0,0,0,0.5);
}

.tipsy-inner {
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
}

.tipsy-north {
    background-position: top center;
}

.tipsy-south {
    background-position: bottom center;
}

.tipsy-east {
    background-position: right center;
}

.tipsy-west {
    background-position: left center;
}

.tipsy-container {
    border: 1px solid green;
}
/*********** END tipsy *******************/

/******************* END Progress bar ***************************/
